target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml


.idea/
*.iml
*.iws
*.ipr
out/


.vscode/


.DS_Store

*.class
hs_err_pid*
replay_pid*


output/
ORDLISTA.md
